@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');

$sidebar_width: 80px;
$header_height: 70px;
$secondary-bg: #20d489;
$primary-bg: #f5f8fa;
$primary-color: #a1a5b7;
$light-color: #fff;

$label-color: #696565;

$sidebar_background: #4c0e9b;

$font-family: 'Cairo', sans-serif;


$danger-color : #9b230e;
$warning-color : #ddbb24